body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main {
  background-color: rgba(31, 36, 50, 0.4);
  background-image: url('//presumi.com/images/background.jpg');
  background-size: cover;
  /*background-blend-mode: overlay;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#lrc-box {
  position: absolute;
  top: 5%;
  right: 15%;
  left: 15%;
  bottom: 8%;
}
#lrc-box p {
  text-align: center;
}
#lrc-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(31, 36, 50, 0.95);
}
.lyrics {
  display: none;
}
#music-box {
  display: none;
}
